<div class="grid-y medium-grid-frame">
  <div class="cell shrink header medium-cell-block-container">
    {{!-- <h1>Grid Frame Header</h1> --}}
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4">
        <h2>Create new Post!</h2>
      </div>
      <div class="cell medium-8 medium-cell-block">
        <p style="width:80vw;">You have # of posts</p>
      </div>
    </div>
  </div>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 medium-cell-block-y">
      {{!-- Form --}}
        <form method='post' action='/admin/couple'class="cell">
          <div class="card-user-profile">
              <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" />

              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                  <img src="../../public/assets/img/four/groom.png" alt="picture of yeti" />
                  <label for="exampleFileUpload" class="button">Upload File</label>
                  <input type="file" name="photo" id="exampleFileUpload" class="show-for-sr" name="partner_image" accept=".jpg, .jpeg, .png"   multiple>

                </div>
                <p class="card-user-profile-name">
                    <div class="form-floating-label">
                      <input type="text" id="name" name="name" required>
                      <label for="name">
                          Name
                      </label>
                    </div>
                </p>
                <p class="card-user-profile-name">
                    <div class="form-floating-label">
                      <input type="text" id="image" name="image" required>
                      <label for="image">
                          Image
                      </label>
                    </div>
                </p>
                <p class="card-user-profile-status">
                    <div class="form-floating-label">
                      <input type="text" id="description" name="description" required>
                      <label for="description">
                          Description
                      </label>
                          {{!-- <textarea data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="description ..." data-alignment="bottom"> --}}
                          {{!-- </textarea> --}}
                    </div>
                </p>
              </div>
              {{!-- Submit / Edit --}}
              {{!-- <div class="card-user-profile-actions">
                  <select class="card-user-profile-button button hollow secondary">
                    <option class="button" value="husker">Groom</option>
                    <option class="button" value="starbuck">Bride</option>
                    <option class="button" value="hotdog">Partner</option>
                  </select>
              </div>   --}}       
              <div class="card-user-profile-actions">
                {{!-- <a href="#" class="card-user-profile-button button hollow">Edit</a> --}}
                <button class="card-user-profile-button button hollow" type="submit" value='Send'>Submit Couple</button>
              </div>
          </div>
        </form>
      </div>
      <div class="cell medium-8 medium-cell-block-y">

        <div class="grid-x grid-padding-x small-up-2">
        {{#each couple}}
          <form method='post' action='/admin/couple'class="cell ">
            <div class="card-user-profile">
                <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" />

                <div class="card-user-profile-content card-section">
                  <div class="card-user-profile-avatar">
                    <img src="{{image}}" alt="picture of person" />
                    <label for="exampleFileUpload" class="button">Upload File</label>
                    <input type="file" name="photo" id="exampleFileUpload" class="show-for-sr" name="partner_image" accept=".jpg, .jpeg, .png"   multiple>

                  </div>
                  <p class="card-user-profile-name">
                      <div class="form-floating-label">
                        <input type="text" id="name" name="name" required>
                        <label for="name">
                            {{name}}
                        </label>
                      </div>
                  </p>
                  <p class="card-user-profile-name">
                      <div class="form-floating-label">
                        <input type="text" id="image" name="image" required>
                        <label for="image">
                            Image
                        </label>
                      </div>
                  </p>
                  <p class="card-user-profile-status">
                      <div class="form-floating-label">
                        <textarea type="text" rows="3" id="description" name="description" required>
                          </textarea> 
                        <label for="description">
                            {{description}}
                        </label>
                            {{!-- <textarea data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="description ..." data-alignment="bottom"> --}}
                            {{!-- </textarea> --}}
                      </div>
                  </p>
                </div>
                {{!-- Submit / Edit --}}
                {{!-- <div class="card-user-profile-actions">
                    <select class="card-user-profile-button button hollow secondary">
                      <option class="button" value="husker">Groom</option>
                      <option class="button" value="starbuck">Bride</option>
                      <option class="button" value="hotdog">Partner</option>
                    </select>
                </div>   --}}       
                <div class="card-user-profile-actions">
                  {{!-- <a href="#" class="card-user-profile-button button hollow">Edit</a> --}}
                  <button class="card-user-profile-button button hollow" type="submit" value='Send'>Update</button>
                </div>
            </div>
          </form>
        {{/each}}
        </div>

      </div>
    </div>
  </div>
  <div class="cell shrink footer">
    {{!-- <h3>Here's my footer</h3> --}}
  </div>
</div>



