<section id="bmaid_gmen" class="wedding-sec bmaid_gmen_sec four">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <div class="section-head">
               <h2 class="section-heading">Bridesmaid & Groomsmen</h2>
               <div class="bottom-dash Down"></div>
               <p class="section-subheading text-muted Down" data-wow-delay=".25s">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- .section-head -->
         </div>
         <!-- .col-lg-12 -->
      </div>
      <!-- .row -->
      <div class="row">
         <div class="col-lg-6 col-md-6 bmaid_sec">
            <div class="bmaid_nav" role="tabpanel">
               <!-- Nav tabs -->
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation">
                     <a href="#home"  class="" aria-controls="home" role="tab" data-toggle="tab"><img src="/public/assets/img/bmaid-gmen/bmaid1.png" alt="Bridemaid" /></a>
                  </li>
                  <li role="presentation">
                     <a href="#profile" class="" aria-controls="profile" role="tab"  data-toggle="tab"><img src="/public/assets/img/bmaid-gmen/bmaid2.png" alt="Bridemaid" /></a>
                  </li>
                  <li role="presentation" class="active">
                     <a href="#messages" aria-controls="messages" role="tab" class="" data-toggle="tab"><img src="/public/assets/img/bmaid-gmen/bmaid3.png" alt="Bridemaid" /></a>
                  </li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content bridemaid_tab_content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home">
                     <div class="bridemaid">
                        <h3 class="#">Natalie Jones</h3>
                        <p  class="#">
                           Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
                           explicabo. Nemo enim ipsam voluptatem quia voluptas.  
                        </p>
                        <p class="social_icons">
                           <a href="#" class=""><i class="fa fa-twitter"></i></a>
                           <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                           <a href="#" class=""><i class="fa fa-facebook"></i></a>
                        </p>
                     </div>
                     <!-- .bridemaid -->  
                  </div>
                  <!-- .tab-pane  -->
                  <div role="tabpanel" class="tab-pane fade" id="profile">
                     <div class="bridemaid">
                        <h3 class="#">Angle Cyrus</h3>
                        <p class="#">
                           Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
                           explicabo. Nemo enim ipsam voluptatem quia voluptas.  
                        </p>
                        <p class="social_icons">
                           <a href="#" class=""><i class="fa fa-twitter"></i></a>
                           <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                           <a href="#" class=""><i class="fa fa-facebook"></i></a>
                        </p>
                     </div>
                     <!-- .bridemaid -->  
                  </div>
                  <!-- .tab-pane  -->
                  <div role="tabpanel" class="tab-pane fade" id="messages">
                     <div class="bridemaid">
                        <h3 class="">Lady Teramera</h3>
                        <p class="">
                           Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
                           explicabo. Nemo enim ipsam voluptatem quia voluptas.  
                        </p>
                        <p class="social_icons">
                           <a href="#" class=""><i class="fa fa-twitter"></i></a>
                           <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                           <a href="#" class=""><i class="fa fa-facebook"></i></a>
                        </p>
                     </div>
                     <!-- .bridemaid -->  
                  </div>
                  <!-- .tab-pane  -->
               </div>
               <!-- .tab-content .bridemaid_tab_content -->
            </div>
            <!-- .bmaid_nav -->  
         </div>
         <!-- .col-lg-6 .col-md-6 .bmaid_sec -->
         <div class="col-lg-6 col-md-6 gmen_sec">
            <div class="gmen_nav" role="tabpanel">
               <!-- Nav tabs -->
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#groom1" class="" aria-controls="home" role="tab" data-toggle="tab"><img src="/public/assets/img/bmaid-gmen/gmen1.png" alt="Groomsmen" /></a></li>
                  <li role="presentation"><a href="#groom2" class="" aria-controls="profile" role="tab"  data-toggle="tab"><img src="/public/assets/img/bmaid-gmen/gmen2.png" alt="Groomsmen" /></a></li>
                  <li role="presentation"><a href="#groom3" class="" aria-controls="messages" role="tab"  data-toggle="tab"><img src="/public/assets/img/bmaid-gmen/gmen3.png" alt="Groomsmen" /></a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content groomsmen_tab_content">
                  <div role="tabpanel" class="tab-pane fade in active" id="groom1">
                     <div class="groomsmen">
                        <h3 class="#">Joseph Connor</h3>
                        <p class="#">
                           Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
                           explicabo. Nemo enim ipsam voluptatem quia voluptas.  
                        </p>
                        <p class="social_icons">
                           <a href="#" class=""><i class="fa fa-twitter"></i></a>
                           <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                           <a href="#" class=""><i class="fa fa-facebook"></i></a>
                        </p>
                     </div>
                     <!-- .groomsmen -->  
                  </div>
                  <!-- .tab-pane #groom2-->
                  <div role="tabpanel" class="tab-pane fade" id="groom2">
                     <div class="groomsmen">
                        <h3 class="#">Albert telesamad</h3>
                        <p class="#">
                           Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
                           explicabo. Nemo enim ipsam voluptatem quia voluptas.  
                        </p>
                        <p class="social_icons">
                           <a href="#" class=""><i class="fa fa-twitter"></i></a>
                           <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                           <a href="#" class=""><i class="fa fa-facebook"></i></a>
                        </p>
                     </div>
                     <!-- .groomsmen -->  
                  </div>
                  <!-- .tab-pane #groom2-->
                  <div role="tabpanel" class="tab-pane fade" id="groom3">
                     <div class="groomsmen">
                        <h3 class="#">Brett Kawsar</h3>
                        <p class="#">
                           Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
                           explicabo. Nemo enim ipsam voluptatem quia voluptas.  
                        </p>
                        <p class="social_icons">
                           <a href="#" class=""><i class="fa fa-twitter"></i></a>
                           <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                           <a href="#" class=""><i class="fa fa-facebook"></i></a>
                        </p>
                     </div>
                     <!-- .groomsmen -->  
                  </div>
                  <!-- .tab-pane #groom2-->
               </div>
               <!-- .tab-content .groomsmen_tab_content -->
            </div>
            <!-- .gmen_nav -->  
         </div>
         <!-- .col-lg-6 .col-md-6 .gmen_sec  -->  
      </div>
      <!-- .row -->
   </div>
   <!-- .container -->    
</section>