<header>
   <div class="container-fluid">
      <div class="row">
         <section id="main-slider" class="main-slider">
            <div class="ss-slides slides">
               {{#each slideshow}}
               <div class="ss-slide">
                  <img src="{{image}}" alt="Couple" />
                  <div class="slide_text_wrap">
                     <div class="slider-text">
                        <h2 class="slider-head">{{title}}</h2>
                        <p class="">{{description}} </p>
                     </div>
                  </div>
               </div>
               {{else}}
               <div class="ss-slide">
                  <img src="/public/assets/img/slider2.png" alt="Couple"/>
                  <div class="slide_text_wrap">
                     <div class="slider-text">
                        <h2 class="slider-head">Brittany & Brett</h2>
                        <p class="">Are getting married on 10 June 2018, Thousand Oaks </p>
                     </div>
                  </div>
               </div>
               <div class="ss-slide">
                  <img src="/public/assets/img/slider1.png" alt="Couple"/>
                  <div class="slide_text_wrap">
                     <div class="slider-text">
                        <h2 class="slider-head">Brittany & Brett</h2>
                        <p class="">Are getting married on 10 June 2018, Thousand Oaks </p>
                     </div>
                  </div>
               </div>
               <div class="ss-slide">
                  <img src="/public/assets/img/slider3.png" alt="Couple" />
                  <div class="slide_text_wrap">
                     <div class="slider-text">
                        <h2 class="slider-head">Brittany & Brett</h2>
                        <p class="">Are getting married on 10 June 2018, Thousand Oaks </p>
                     </div>
                  </div>
               </div>
               {{/each}}
               <!-- ss-slide -->
            </div>
            <!-- ss-slides slides -->
            <div class="countdown-wrap new_slide">
               <div class="countdown"></div>
            </div>
         </section>
         <!--/#main-slider-->
      </div>
      <!-- row -->
   </div>
   <!-- container-fluid -->
</header>